<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="https://yuraive.com/" />
    <title>Yuraive</title>
  </head>
  <body></body>
</html>
